# Variable

In [ ]:
height = 3.4
weight = 2.7
print("height:", height)
print(weight/height**2)

## Types

In [ ]:
type(height)

In [ ]:
a = 5
b = True
c = 'this is a string'
print(type(a))
print(type(b))
print(type(c))

## Use of +

In [ ]:
d= 2+3
e = "I am " + " a boy" + "."
print(d)
print(e)

## Type Conversion

In [ ]:
number_of_courses = 5
print("I am taking " + number_of_courses + " this semsester")

In [ ]:
 print("I am taking " + str(number_of_courses) + " this semsester")

In [ ]:
a = "3.4567"
b = float(a)
print(a)
print(b)
print(type(a))
print(type(b))

# List

In [ ]:
# [   ]
a = [1,2,3,4]
b = "1"

In [ ]:
1+3
"abc"+"dfe"

In [ ]:
a = [1,2,3,4]
b = [1, 2.3, True, "this is a test"]
c = a + b 
print(c)

In [ ]:
"this is a test   "*3

In [ ]:
d = [1,2, [1,2,3], [1,2, "test"]]
e = [1+2, "baby "*3, 4]

In [ ]:
print(d)
print(e)

In [ ]:
f = d+e
print(f)

In [ ]:
print(type(f))
print(len(f))  # length

In [ ]:
len(" this is a test ")

In [ ]:
len([1,2,3,4])

In [ ]:
len([[1,2,3], 3])

## Indexing lists

In [ ]:
# n번째 데이터
#  [  ]
# 0 indexing
# len(100)  -> 0, 99

In [ ]:
test = [100,"jane", 40, "tim", 1000,"john and liz"]
len(test)

In [ ]:
print(test[0])
print(test[4])
print(test[5])

In [ ]:
print(test[-1])  # - indexing
print(test[-2])

In [ ]:
# 1 : 11
#   -> 1, 2,3,4,5,6,7,8,9,10
# 2:4  -> 2, 3
# 2:3  -> 2
# 2:2 ->

In [ ]:
test = [100,"jane", 40, "tim", 1000,"john and liz"]
test[2:4]

In [ ]:
a = "this is a test123"
a[3:6]

In [ ]:
a[0]

In [ ]:
a[-1]

## use a single index

In [ ]:
test

In [ ]:
print(test[:4])   # 처음부터 3번째

In [ ]:
print(test[2:])   # 2번째 부터 마지만

In [ ]:
print(test[:])

In [ ]:
"this is a test"[2:]

## List of lists

In [ ]:
test = [ ['tom', 10,20,40], ['jane', 50, 60,70], ['john', 80,90,100]]

In [ ]:
len(test)

In [ ]:
test[1]

In [ ]:
print(test[1][1])

In [ ]:
test[1,1]

In [ ]:
test

In [ ]:
print(test[-1][-1])

In [ ]:
print(test[-1][1:3])

In [ ]:
print(test[1][:])

In [ ]:
print(test[1])

## changing list elements

In [ ]:
a = [1,2,3,'tom', 'jane', "kim"]
print(a)

In [ ]:
a[-1] = 100
print(a)

In [ ]:
a[2] = [1,2,3]
print(a)

## adding and removing

In [ ]:
print("a: ", a)
b = [10000, 20000]
c = a + b
print("c :", c)

In [ ]:
print(c[3])

In [ ]:
print(c)
del(c[3])    # del 을 이용한 delete
print(c)

## replacing list elements

In [ ]:
x = ["a", "b", 'c', 'd', 1,2,3]
print(x)

In [ ]:
x[1] = 100
print(x)

In [ ]:
x[2:] = [10,20,30]
print(x)

In [ ]:
x[2:] = ["abc", 'def', 'hij', "iii", [1,2,3]]
print(x)

In [ ]:
x[3:] = 'this is a test'
print(x)

In [ ]:
x[3:]= ["this is a test", "this is the second test"]
x

In [ ]:
y=[]
y =y + ["zero"]
print(y)

In [ ]:
y[0] = "zero1"
print(y)

In [ ]:
y[1:] = "zero"
print(y)

In [ ]:
y = y + ['first']
print(y)

In [ ]:
len(y)

In [ ]:
y.insert(2, "second")
print(y)

In [ ]:
print(len(y))

## copying lists (1)

In [ ]:
x = ["a", 'b', "c"]
print(x)

In [ ]:
y = x
print(y)

In [ ]:
y[1] = "new"
print("y: ", y)
print("x: ", x)

## copying lists (2)

In [ ]:
x = ["a", 'b', "c"]
print(x)

In [ ]:
y = list(x)
print(y)

In [ ]:
y[1] = "new"
print("y: ", y)
print("x: ", x)

## looping through a list

In [ ]:
test = [1,2,3,4]
for a in test:
    print(a)

In [ ]:
"this is a test".upper()

In [ ]:
animals = ['cat', 'dog', 'bear', 'elepant']
for a in animals :
    print(a)
for b in animals :
    print(b.upper())

## while loop

In [ ]:
print(animals)
print(len(animals))

In [ ]:
index = 0
while index < len(animals) :
    print("index:", index)
    print(animals[index])
    index += 1

## sorting a list

In [ ]:
print(animals)

In [ ]:
sorted(animals)

In [ ]:
animals

In [ ]:
sorted_animals = sorted(animals)
print("animals :         {}".format(animals))
print("sorted animals :  {}".format(sorted_animals))

In [ ]:
# sort a list
animals.sort()
print("animals :         {}".format(animals))

## append an element

In [ ]:
print(animals)

In [ ]:
animals.append("pig")
print(animals)

## range

In [ ]:
range(10)

In [ ]:
type(range(10))

In [ ]:
range(5)  # 0,1,2,3,4

In [ ]:
for number in range(5):
    print(number)

In [ ]:
range(2,5)

In [ ]:
for a in range(2,5):
    print(a)

In [ ]:
for b in range(1,7,2):   # 1,3,5 not 7
    print(b)

In [ ]:
print(animals)

In [ ]:
len(animals)

In [ ]:
for number in range(0, len(animals), 2):  # 0, 2, 4
    print(animals[number])

# Dictionary

In [1]:
# create empty dictionary
dict1 = {}
print(type(dict1))

<class 'dict'>

In [4]:
# create a dictionary
contacts = {'kim':'111-2222', 'park':'222-3333'}
print(contacts)

{'kim': '111-2222', 'park': '222-3333'}

In [5]:
park_contacts = contacts['park']
print("Dial {} to call park".format(park_contacts))

Dial 222-3333 to call park

In [6]:
print(contacts)

{'kim': '111-2222', 'park': '222-3333'}

## updates values

In [7]:
print(contacts)
contacts['park'] = '000-0000'
print(contacts)

{'kim': '111-2222', 'park': '222-3333'}
{'kim': '111-2222', 'park': '000-0000'}

In [8]:
# add dictionary items
print(contacts)
contacts['choi'] = "111-222"
print(contacts)

{'kim': '111-2222', 'park': '000-0000'}
{'kim': '111-2222', 'park': '000-0000', 'choi': '111-222'}

In [10]:
a = [1,2,3]
b = "string"
print(len(a))
print(len(b))

3
6

In [11]:
print(len(contacts))

3

## delete a dictionary item

In [12]:
test = [10,20,30,40,50,60]
print(test)
del(test[2])
print(test)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]

In [13]:
del(test[2:])
print(test)

[10, 20]

In [14]:
print(contacts)

{'kim': '111-2222', 'park': '000-0000', 'choi': '111-222'}

In [15]:
del(contacts['choi'])
print(contacts)

{'kim': '111-2222', 'park': '000-0000'}

## Unique keys

In [16]:
print(contacts)
contacts['park'] = '111-2222'
print(contacts)

contacts1 = {'park':'111-2222', 'park':'222-3333', 'choi' : '333-4444'}
print(contacts1)

{'kim': '111-2222', 'park': '000-0000'}
{'kim': '111-2222', 'park': '111-2222'}
{'park': '222-3333', 'choi': '333-4444'}

## Returning a value

In [17]:
print(contacts['park'])
print(contacts.get('park'))

111-2222
111-2222

In [18]:
# useful of get

person = {'name': 'Phill', 'age': 22}

print('Name: ', person['name'])
print('Age: ', person['age'])
print()

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

Name:  Phill
Age:  22

Name:  Phill
Age:  22

In [19]:
person['salary']

KeyError: 'salary'

In [20]:
person.get("salary")

In [21]:
print(person.get("salary"))

None

In [22]:
print(person)

{'name': 'Phill', 'age': 22}

In [25]:
# value is not provided
print('Salary: ', person.get('salary'))

# value is provided
print('Salary: ', person.get('salary', 10.0))  # default 값

Salary:  None
Salary:  10.0

In [26]:
person

{'name': 'Phill', 'age': 22}

## print values

In [27]:
contacts['lee'] = ['222-3333', '333-4444']
print(contacts)

{'kim': '111-2222', 'park': '111-2222', 'lee': ['222-3333', '333-4444']}

In [28]:
contacts['lee']

['222-3333', '333-4444']

In [29]:
for number in contacts['lee']:
    print('Phone number : {}'.format(number))

Phone number : 222-3333
Phone number : 333-4444

In [30]:
print(contacts.keys)

<built-in method keys of dict object at 0x0000008F04692DB8>

In [31]:
print(contacts.keys())

dict_keys(['kim', 'park', 'lee'])

In [32]:
print(contacts.values())

dict_values(['111-2222', '111-2222', ['222-3333', '333-4444']])

In [33]:
print(contacts.items())

dict_items([('kim', '111-2222'), ('park', '111-2222'), ('lee', ['222-3333', '333-4444'])])

In [35]:
name in contacts.keys()

True

In [34]:
name = 'park'
if name in contacts.keys():
    print(contacts[name])

111-2222

In [36]:
name = 'lee'
if name in contacts.keys():
    print(contacts[name])

['222-3333', '333-4444']

In [37]:
print(contacts)
print('lee' in contacts.keys())
print('jaje' in contacts.keys())

{'kim': '111-2222', 'park': '111-2222', 'lee': ['222-3333', '333-4444']}
True
False

In [38]:
print('111-2222' in contacts.values())
print('222-3333' in contacts.values())

True
False

In [39]:
['222-3333', '333-4444'] in contacts.values()

True

## dictionary items

In [40]:
print(contacts)
print(contacts.items())

{'kim': '111-2222', 'park': '111-2222', 'lee': ['222-3333', '333-4444']}
dict_items([('kim', '111-2222'), ('park', '111-2222'), ('lee', ['222-3333', '333-4444'])])

In [41]:
for a, b in contacts.items():
    print('key is {} and value is {}'.format(a,b))

key is kim and value is 111-2222
key is park and value is 111-2222
key is lee and value is ['222-3333', '333-4444']

In [42]:
for a, b in contacts.items():
    print('value is {1} and key is {0}'.format(a,b))

value is 111-2222 and key is kim
value is 111-2222 and key is park
value is ['222-3333', '333-4444'] and key is lee

## dictionary contains dictionary

In [43]:
contacts = { 'park' : {
                        'cell' : '111-2222', 
                        'email': 'park@ssu.ac.kr'},
             'lee'  : {
                         'cell' : '222-3333', 
                         'email': 'lee@ssu.ac.kr'} }

In [44]:
print(contacts)

{'park': {'cell': '111-2222', 'email': 'park@ssu.ac.kr'}, 'lee': {'cell': '222-3333', 'email': 'lee@ssu.ac.kr'}}

In [45]:
contacts['park']

{'cell': '111-2222', 'email': 'park@ssu.ac.kr'}

In [46]:
for contact in contacts:
    print(contact)

park
lee

In [47]:
for contact in contacts:
    print("{}'s contact information".format(contact))
    print("  ",contacts[contact]['cell'])
    print("  ",contacts[contact]['email'])

park's contact information
   111-2222
   park@ssu.ac.kr
lee's contact information
   222-3333
   lee@ssu.ac.kr

## Removing a specific item

In [48]:
a = {'Alice':20, 'Carol':30, 'Bob':34}
print(a)

{'Alice': 20, 'Carol': 30, 'Bob': 34}

In [49]:
a.pop('Carol')

30

In [50]:
print(a)

{'Alice': 20, 'Bob': 34}

In [51]:
a.pop('Alice')

20

In [52]:
a

{'Bob': 34}

In [53]:
# remove random item
a = {'Alice':20, 'Carol':30, 'Bob':34}
a.popitem()

('Bob', 34)

In [54]:
a

{'Alice': 20, 'Carol': 30}

In [55]:
a.popitem()

('Carol', 30)

In [56]:
a

{'Alice': 20}

In [57]:
print(a)

{'Alice': 20}

In [58]:
del(a['Alice'])

In [59]:
print(a)

{}