# Functions

## built in functions

In [ ]:
# some build in functions

a = [123,22,34,5555]
max(a)

In [ ]:
min(a)

In [ ]:
len(a)

In [ ]:
round(1.23456, 2)  # 소수 이하 2자리

In [ ]:
round(1.53456)   # closest integer

In [ ]:
help(round)

In [ ]:
# sorted function on list
a = [1,4,7,10]
b = [2,3, 9,11]
c = a + b
ascending = sorted(c)
descending = sorted(c, reverse=True)
print('ascending', ascending)
print('descending', descending)

In [ ]:
print(c)

In [ ]:
c.sort()
print(c)

## methods

In [10]:
# list methods
# index, count, append
names = ['jim', 'jones', 'tom', 10, 20, 10, 10]
names.index('tom')

2

In [12]:
print(names.count(10))
names.append('new')
print(names)

3
['jim', 'jones', 'tom', 10, 20, 10, 10, 'new', 'new']

In [13]:
# str methods
name = 'liz'
print(name.capitalize())
print(name.upper())
print(name.lower())

Liz
LIZ
liz

In [17]:
a = name.replace('z', 'zzzz')
print(a)

lizzzz

In [15]:
name

'liz'

## functions

In [18]:
def say_hi():
    print("Hi!")

In [19]:
say_hi()

Hi!

In [20]:
def say_hi(name):
    print("Hi {}!".format(name))

In [21]:
say_hi("john")

Hi john!

In [22]:
def say_hi(name = 'there'):
    print("Hi {}!".format(name))

In [23]:
say_hi()

Hi there!

In [24]:
say_hi("Tom")

Hi Tom!

In [25]:
# multiple parameters
def say_hi(first, last):
    print("Hi {} {}!".format(first, last))

In [26]:
say_hi("Gil-Dong", "Hong")

Hi Gil-Dong Hong!

In [27]:
print(10 % 2)
print(11 % 2)
print(10 % 2 == 0)
print(11 % 2 == 0)

0
1
True
False

In [29]:
# an examples

def odd_or_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [30]:
odd_or_even(7)

'Odd'

In [31]:
def is_odd(number):
    if number % 2 == 0 :
        return False
    else :
        return True

In [32]:
print(is_odd(7))
print(is_odd(8))

True
False

In [33]:
# another example
def get_name():
    name = input('What is your name? ')
    return name

In [34]:
get_name()

What is your name? Park

'Park'

In [35]:
def say_name(name):
    print('Your name is {}'.format(name))
def get_and_say_name():
    name = get_name()
    say_name(name)

In [36]:
get_and_say_name()

What is your name? Lee
Your name is Lee

# Tuples

In [37]:
my_tuple = (1,2,"test")

In [38]:
my_tuple

(1, 2, 'test')

In [39]:
my_tuple[0:]

(1, 2, 'test')

In [40]:
list1 = [1,2,3,4,5]
list1[1]=100
list1

[1, 100, 3, 4, 5]

In [41]:
# immutable
my_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

In [42]:
my_tuple = (10)
print(my_tuple)
print(type(my_tuple))

10
<class 'int'>

In [43]:
my_tuple = (10,)
print(my_tuple)
print(type(my_tuple))

(10,)
<class 'tuple'>

In [44]:
my_tuple = (11,22,33)
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:1])

11
33
(11,)

In [45]:
my_tuple[0:2]

(11, 22)

In [46]:
my_tuple[0:3]

(11, 22, 33)

In [47]:
my_tuple[0:4]

(11, 22, 33)

In [48]:
# tuple concatenation
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44,)
print(my_tuple)
print(saved)

(11, 22, 33, 44)
(11, 22, 33)

In [49]:
# tuples are immutable
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44)
print(my_tuple)

TypeError: can only concatenate tuple (not "int") to tuple

In [50]:
# tuple are immutable
atuple = (33,22,11)
atuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [52]:
alist=[10,2,3,4]
alist.sort()
alist

[2, 3, 4, 10]

In [53]:
print(type(atuple))
print(atuple)
atuple = sorted(atuple)  # sorted returns a list!
print(type(atuple))
print(atuple)

<class 'tuple'>
(33, 22, 11)
<class 'list'>
[11, 22, 33]

In [55]:
atuple = (33,22,11)
print(type(atuple))
print(atuple)
alist = sorted(atuple)  # sorted returns a list!
print(type(atuple))
print(atuple)

<class 'tuple'>
(33, 22, 11)
<class 'tuple'>
(33, 22, 11)

In [56]:
for i in atuple:
    print(i)

33
22
11

In [57]:
[i for i in atuple]

[33, 22, 11]

In [58]:
# converting sequences into tuples
alist = [10,20,30]
atuple = tuple(alist)
print(atuple)

(10, 20, 30)

In [59]:
newtuple = tuple("Hello World")
print(newtuple)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

# Iteration

In [ ]:
#list
my_list = [1,"a",[1,2,3], {"park": 10}, {10,20,30}]

In [ ]:
for item in my_list:
    print(item)

In [ ]:
#tuple
my_tuple = (1,"a",[1,2,3], {"park": 10}, {10,20,30})

In [ ]:
for item in my_tuple:
    print(item)

In [ ]:
# dictionary
my_dict = { 'a':10, 'b':[1,2,3]}

In [ ]:
for k, v in my_dict.items():
    print(k, v)

In [ ]:
# iterations
for i in range(4):
    print(i)

In [ ]:
for i in range(1,10,3):
    print(i)

In [ ]:
mylist = ['a','b','c']
for i in mylist:
    print(i)

In [ ]:
for i in range(len(mylist)):
    print(i, mylist[i])

In [ ]:
for i, item in enumerate(mylist):
    print(i, item)

## List Comprehension

In [ ]:
# simple method

nums = [1,2,3,4,5]
sq_nums = []
for n in nums :
    sq_nums.append(n**2)
print(sq_nums)

In [ ]:
# list comprehension
sq_nums = [ n**2 for n in nums]
print(sq_nums)

In [ ]:
vec = [2,4,6]
[3*x for x in vec]

In [ ]:
[3 *x for x in vec if x > 3]  # 3 보다 큰수

In [ ]:
[3 * x for x in vec if x < 2]

In [ ]:
[ [x, x**2] for x in vec]

In [ ]:
#error!
[x, x**2 for x in vec]

In [ ]:
# but
[(x, x**2 ) for x in vec]

In [ ]:
email = ['once', 'upon', 'a', 'time', 'in', 'a', 'far', 'away']
a = [1 for x in email if x == 'a']
print(a)
print(len(a))

In [ ]:
# more list comprehension

words = ['hello', 'this', 'is', 'python']
caps = [word.upper() for word in words]
print(caps)

In [ ]:
powers = [(x**2, x**3) for x in range(5)] # from 0 to 4
print(powers)

In [ ]:
# putting functions and list comprehensions together

def isEven(num) :
    return (num % 2 == 0)

numbers = [2,10,7,300,63]
isEvens = [isEven(num) for num in numbers]

In [ ]:
print(isEvens)

In [ ]:
# more list comprehension
nuc = ['A', 'T']
codons = { x+y+z for x in nuc for y in nuc for z in nuc }
print(codons)

In [ ]:
nuc = ['A', 'T', 'C', 'G']
codons = { x+y+z for x in nuc for y in nuc for z in nuc }
print(codons)
print(len(codons))

In [ ]:
# turning a dict inside out

myDict = {'a':10, 'b':20, 'c':30, 'd':40}
reverserDict = { value : key for key, value in myDict.items()}
print(reverserDict)

In [ ]:
myDict = {'a':10, 'b':20, 'c':10, 'd':40}
reverserDict = { value : key for key, value in myDict.items()}
print(reverserDict)